.card {
  text-align: start;
}

.card .card-title {
  font-family: 'Rufina', serif;
  size: 50px;
}

.card .card-body {
  font-family: 'Quattrocento', serif;
}

#img {
  max-width: 12rem;
  position: relative;
}