<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Rufina:wght@700&display=swap');
  </style>
</header>

<!--Titulo-->
<div class="container">
  <div class="col-12 py-4 pt-5" id="contenedor">
    <h2 class="display-6 mt-3 mb-3 h2-lines" id="titulo">EDUCACIÓN</h2>
  </div>
</div>

<!--Educación-->
<div class="container">
  <div class="row justify-content-center list-unstyled mt-1">
    <div class="col-12 card  mb-1" style="max-width: 850px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/img/ispc.jpg" class="img-fluid rounded-start" id="img" alt="LogoISPC">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center list-unstyled mt-1">
    <div class="col-12 card  mb-1" style="max-width: 850px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/img/apLogo2.jpg" class="img-fluid rounded-start" id="img" alt="LogoAP">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center list-unstyled mt-1">
    <div class="col-12 card  mb-1" style="max-width: 850px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/img/digitalers.png" class="img-fluid rounded-start" id="img" alt="LogoDigit@lers">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>