<nav class="navbar navbar-light bg fixed-top" id="nav">
    <!--Logo-->
    <div  >
        <a class="navbar-brand" id="logo" href="#">
            <img src="../../../assets/img/APLogo.png" alt="APLogo" width="150px">
        </a>
    </div>
    <!--Fin logo-->

    <!--btn hamburguesa-->
    <div>
        <div class="container-fluid">
            <button  class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon" id="btnHamb"></span>
            </button>    
            <!--btn 'x'-->         
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">           
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <!--cuerpo hamburguesa-->
                <div class="offcanvas-body text-center" >
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#" routerLinkActive="router-link-active">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sobre-mi" routerLinkActive="router-link-active">Sobre mí</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/educacion" routerLinkActive="router-link-active">Educación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/tecnologias"  routerLinkActive="router-link-active">Tecnologías</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/proyectos"  routerLinkActive="router-link-active">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contacto"  routerLinkActive="router-link-active">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>