<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Rufina:wght@700&display=swap');
    </style>
</head>

<!--Titulo-->
<div class="container">
    <div class="col-12 py-4 pt-5" id="contenedor">
        <h2 class="display-6 mt-3 mb-3 h2-lines" id="titulo">CONTACTO</h2>
    </div>
</div>

<!--Contacto-->
<div class="container-fluid">
    <div class="container py-4 contenedor">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <img src="../../../assets/img/home.png" alt="home">
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">UBICACIÓN</h5>
                        <p class="card-text text-center fs-5">Tucumán - Argentina</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <img src="../../../assets/img/email.png" alt="email">

                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">EMAIL</h5>
                        <p class="card-text text-center fs-5">natbrito18@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <img src="../../../assets/img/hash.png" alt="hash">
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">REDES</h5>
                        <p class="card-text text-center fs-4">
                            <a href="https://github.com/NataliaVBrito"><img src="../../../assets/img/github.png"
                                    alt="github"></a>
                            <a href="https://www.linkedin.com/in/nati-brito/"><img
                                    src="../../../assets/img/linkedin.png" alt="linkedin"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
